<table border="1" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Giá</th>
            <th>Ngày tạo</th>
            <th>Loại</th>
            <th>Thao tác</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="item : ${items}">
            <td th:text="${item.id}"></td>
            <td th:text="${item.name}"></td>
            <td th:text="${item.price}"></td>
            <td th:text="${item.createDate}"></td>
            <td th:text="${item.category.name}"></td>
            <td>
                <a th:href="@{|/product/edit/${item.id}|}">Sửa</a>
            </td>
        </tr>
    </tbody>
</table>